openapi: 3.0.0
info:
  description: 'This document describes the iCAS Sellside API to place ads on iCAS.
    For more information, see the `Documentation` tab.'
  version: '0.119'
  title: 'iCAS Sellside API'
servers:
  - url: 'http://www.mp.dev/api/sellside'
    description: 'Local environment [marktplaats.nl]'

  - url: 'https://internet.mp.qa.icas.io/api/sellside'
    description: 'QA environment [marktplaats.nl]'
  - url: 'https:/internet.twhbe-nl.qa.icas.io/api/sellside'
    description: 'QA environment [2dehands.be] NL'
  - url: 'https://internet.twhbe-fr.qa.icas.io/api/sellside'
    description: 'QA environment [2ememain.be] FR'
  - url: ' https://internet.ebayk.qa.icas.io/api/sellside'
    description: 'QA environment [kleinanzeigen.de]'
  - url: ' https://internet.kjca.qa.icas.io/api/sellside'
    description: 'QA environment [kijiji.ca]'

  - url: 'https://admarkt.demo.qa-mp.so/api/sellside'
    description: 'Pre-prod (demo/sandbox) environment [marktplaats.nl]'
  - url: 'https://admarkt.demo-2dehands.qa-mp.so/api/sellside'
    description: 'Pre-prod (demo/sandbox) environment [2dehands.be] NL'
  - url:  'http://admarkt.demo-2ememain.qa-mp.so//api/sellside'
    description: 'QA environment [2ememain.be] FR'
  - url: 'https://internet.ka.pre-prod.icas.io/api/sellside'
    description: 'Pre-prod (demo/sandbox) environment [kleinanzeigen.de]'
  - url: 'https://admarkt.qa10.kjdev.ca/api/sellside'
    description: 'Pre-prod (demo/sandbox) environment [kijiji.ca]'

  - url: 'https://admarkt.marktplaats.nl/api/sellside'
    description: 'Production environment [marktplaats.nl]'
  - url: 'https://admarkt.2dehands.be/api/sellside'
    description: 'Production environment [2dehands.be]'
  - url: 'https://admarkt.2ememain.be/api/sellside'
    description: 'Production environment [2ememain.be] FR'
  - url: 'https://admarkt.kleinanzeigen.de/api/sellside'
    description: 'Production environment [kleinanzeigen.de]'
  - url: 'https://admarkt.kijiji.ca/api/sellside'
    description: 'Production environment [kijiji.ca]'
tags:
  - name: Ads
  - name: Campaigns
  - name: Categories
  - name: Regions
  - name: Reporting
paths:
  # ADS
  '/ad/{adId}':
    get:
      tags:
        - Ads
      summary: 'Get ad by ID'
      description: 'Version 5 has a slightly different backwards-incompatible structure than v3. Version 4 is omitted on purpose. <br>
                   Version 3 works just like v2, except the response body contains an additional field ``statusReasons``. This field is currently used to indicate the reason why a certain ad might be set to a certain status by our system. This could be due to, for example, an action (like new website domain approval) pending from the user, which is a mechanism used to prevent account takeovers from setting the website URL to a malicious one.'
      operationId: getAdById
      parameters:
        - name: adId
          in: path
          description: 'ID of ad to return'
          required: true
          schema:
            type: integer
            format: int64
            example: 1235
      responses:
        '200':
          description: 'Success'
          headers:
            Oauth-Scope:
              description: 'Oauth scopes that are available with the supplied token'
              schema:
                type: string
                example: 'api_ro api_rw'
            Oauth-Scope-Required:
              description: 'The required permission for this particular call'
              schema:
                type: string
                example: 'get_ad'
          content:
            application/sellside.ad-v5+json:
              schema:
                $ref: '#/components/schemas/AdV5Response'
            application/sellside.ad-v3+json:
              schema:
                $ref: '#/components/schemas/AdV3Response'
            application/sellside.ad-v2+json:
              schema:
                $ref: '#/components/schemas/AdV2Response'
        '401':
          description: 'Unauthorized'
          content:
            application/sellside.error-v1+json; charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiResponseError'
              example:
                - code: 1009
                  text: 'missing token'
                  msg: 'Authorization header is missing or in the wrong format'
        '404':
          description: 'Not Found'
          content:
            application/sellside.error-v1+json; charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiResponseError'
              example:
                - code: 1004
                  text: 'not found'
                  msg: 'The entity was not found'
        '406':
          description: 'Not Acceptable'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotSupportedError'
        '500':
          description: 'Server Error'
          content:
            application/sellside.error-v1+json; charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiResponseError'
              example:
                - code: 1000
                  text: 'internal error'
                  msg: 'The server encountered an error'
      security:
        - bearerAuth: []
          oAuth2ClientCredentials:
            - 'console_ro'
            - 'api_ro'
    put:
      tags:
        - Ads
      summary: 'Updates the ad with the given ID'
      description: 'Version 3 works just like v2, except the response body contains an additional field statusReasons. This field is currently used to indicate the reason why a certain ad might be set to a certain status by our system. This could be due to, for example, an action (like new website domain approval) pending from the user, which is a mechanism used to prevent account takeovers from setting the website URL to a malicious one.'
      operationId: updateAdById
      parameters:
        - name: adId
          in: path
          description: 'ID of ad to return'
          required: true
          schema:
            type: integer
            format: int64
            example: 1235
      requestBody:
        content:
          application/sellside.ad-v5+json:
            schema:
              $ref: '#/components/schemas/AdV5Request'
          application/sellside.ad-v3+json:
            schema:
              $ref: '#/components/schemas/AdV3Request'
          application/sellside.ad-v2+json:
            schema:
              $ref: '#/components/schemas/AdV2Request'
      responses:
        '200':
          description: 'Success'
          headers:
            Oauth-Scope:
              description: 'Oauth scopes that are available with the supplied token'
              schema:
                type: string
                example: 'api_ro api_rw'
            Oauth-Scope-Required:
              description: 'The required permission for this particular call'
              schema:
                type: string
                example: 'put_ad'
          content:
            application/sellside.ad-v5+json:
              schema:
                $ref: '#/components/schemas/AdV5Response'
            application/sellside.ad-v3+json:
              schema:
                $ref: '#/components/schemas/AdV3Response'
            application/sellside.ad-v2+json:
              schema:
                $ref: '#/components/schemas/AdV2Response'
        '400':
          description: 'Bad Request'
          content:
            application/sellside.error-v1+json; charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiResponseError'
              examples:
                example1:
                  value:
                    - code: 2001
                      text: 'invalid argument'
                      msg: 'must be either ACTIVE, PAUSED or DELETED'
                      field: 'status'
                example2:
                  value:
                    - code: 2002
                      text: 'out of range'
                      msg: 'totalBudget is not within max(category.minBudget, ad.spentBudget) and category.maxBudget'
                      field: 'totalBudget'
                example3:
                  value:
                    - code: 2012
                      text: 'category change not allowed'
                      msg: 'Changing the category of an ad is not allowed'
                      field: 'categoryId'
                example4:
                  value:
                    - code: 2017
                      text: 'ad status change not allowed'
                      msg: 'Changing the status of an ad is not allowed'
                      field: 'status'
                example5:
                  value:
                    - code: 2019
                      text: 'insufficient budget'
                      msg: 'Budget for ad is insufficient'
                      field: 'totalBudget'
                example6:
                  value:
                    - code: 2020
                      text: 'insufficient daily budget'
                      msg: 'Daily budget for ad is insufficient'
                      field: 'dailyBudget'
                example7:
                  value:
                    - code: 2023
                      text: 'category deleted'
                      msg: 'The category has been deleted and will not allow creation/updating of ads'
                      field: 'categoryId'
                example8:
                  value:
                    - code: 2026
                      text: 'too many ads in category'
                      msg: 'Cannot put more ads in this category'
                      field: 'categoryId'
        '401':
          description: 'Unauthorized'
          content:
            application/sellside.error-v1+json; charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiResponseError'
              example:
                - code: 1009
                  text: 'missing token'
                  msg: 'Authorization header is missing or in the wrong format'
        '404':
          description: 'Not Found'
          content:
            application/sellside.error-v1+json; charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiResponseError'
              example:
                - code: 1004
                  text: 'not found'
                  msg: 'The entity was not found'
        '406':
          description: 'Not Acceptable'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotSupportedError'
        '500':
          description: 'Server Error'
          content:
            application/sellside.error-v1+json; charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiResponseError'
              example:
                - code: 1000
                  text: 'internal error'
                  msg: 'The server encountered an error'
      security:
        - bearerAuth: []
          oAuth2ClientCredentials:
            - 'console_rw'
            - 'api_rw'
  /ad/{id}/status/{status}:
    put:
      tags:
        - Ads
      summary: 'Updates the status of the ad with the given '
      description: 'To set the new status append it to the base url. <br>
      Changing the status to ACTIVE also changes the number of active ads in this category for this user. 
      If the current number of active ads for this user in this category exceeds ``maxNumberOfActiveAds`` as defined in the category then an error is returned. 
      Setting a different status than ``ACTIVE`` is always allowed.
      If an ad has is in status ``PAUSED`` and also has no daily budget or total budget remaining, this call will succeed. The resulting status of the ad will be either ``BUDGET_REACHED`` or ``DAILY_BUDGET_REACHED``, depending on which budget has run out. 
      In this case the ad will go live as soon as budget is added.
      '
      operationId: postAdStatus
      parameters:
        - name: id
          in: path
          description: 'The ID of the ad for which status update is requested.'
          required: true
          schema:
            type: integer
            format: int64
            example: 42
        - name: status
          in: path
          required: true
          description: 'The desired ad status from a user perspective.'
          schema:
            $ref: '#/components/schemas/AdStatusV2Request' # same as v2
            example: 'PAUSED'
      responses:
        '200':
          description: 'Success'
          headers:
            Oauth-Scope:
              description: 'OAuth scopes that are available with the supplied token'
              schema:
                type: string
                example: 'console_rw api_rw'
            Oauth-Scope-Required:
              description: 'The required permission for this particular call'
              schema:
                type: string
                example: 'put_ad_status'
          content:
            application/sellside.ad-v5+json:
              schema: # Accept header in request, but response empty
            application/json:
              schema: # Accept header in request, but response empty
        '400':
          description: 'Bad Request'
          content:
            application/sellside.error-v1+json; charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiResponseError'
              examples:
                invalidArgument:
                  value:
                    - code: 2001
                      text: 'invalid argument'
                      msg: 'The value of field ''id'' was invalid'
                      field: 'id'
                    - code: 2001
                      text: 'invalid argument'
                      msg: 'The value of field ''status'' was invalid'
                      field: 'status'
                adStatusChangeNotAllowed:
                  value:
                    - code: 2017
                      text: 'ad status change not allowed'
                      msg: 'changing the status of the ad to the provided status is not allowed'
                      field: 'status'
        '404':
          description: 'Not Found'
          content:
            application/sellside.error-v1+json; charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiResponseError'
              example:
                - code: 1004
                  text: 'not found'
                  msg: 'The entity was not found'
                  field: 'id'
      security:
        - bearerAuth: [ ]
          oAuth2ClientCredentials:
            - 'console_rw'
            - 'api_rw'
  /ad:
    get:
      tags:
        - Ads
      summary: 'Get a list of ads with filter criteria'
      description: 'Returns a list of ads for the current user and the total size of the result set matching the filter criteria. <br>
            <br><br>
            Version 5 is similar to version 3, except for some changes in the Ads data structure and the addition of the ``nextPageToken`` field in the response.
            <br>
            This replaces the usage of the ``offset`` parameter and allows the caller to paginate through a large list of ads more efficiently.
            In essence, it contains encoded information on where the returned result ended, so it can serve as additional filters in the call for 
            the next result set, making that call more efficient. For the very first page, a ``PageToken`` should not be provided. 
            For any following page, callers should use the exact same request with an added ``pageToken`` parameter. 
            The value for the ``pageToken`` parameter for page N+1 is the ``nextPageToken`` field in the response of your call to fetch page N. 
            When a response does not contain a ``nextPageToken``, you have reached the last page of results and there are no more to fetch.
            <br><br>
            Note the difference in naming between response field nextPageToken and request parameter pageToken.
            '
      operationId: getListOfAdsWithFilters
      parameters:
        - name: limit
          in: query
          required: false
          description: 'Limits the number of records returned.'
          schema:
            type: integer
            maximum: 100
            default: 100
          example: 50
        - name: pageToken
          in: query
          required: false
          description: 'Encoded information on where the previous page ended, send this along with the same request to get the next page of results. Scales better than ``offset``.'
          schema:
            type: string
            format: byte
          example: 'eyJpZCI6MTAwMT'
        - name: adIds
          in: query
          required: false
          description: 'List of ad IDs'
          schema:
            type: array
            items:
              type: integer
              format: int64
          example: [11232, 2231, 32453]
        - name: titleKeywords
          in: query
          required: false
          description: 'Case-insensitive filter for a keyword in the title; will include only ads which contain the given keyword in their title.'
          schema:
            type: string
            example: 'fiets'
        - name: status
          in: query
          required: false
          description: 'Filters the result set by the ad status. Should be a comma separated list of possible statuses'
          schema:
            type: array
            uniqueItems: true
            anyOf:
              - enum:
                - 'ACTIVE'
                - 'PAUSED'
                - 'DELETED'
                - 'DELETED_BY_CS'
                - 'SUSPENDED_BY_CS'
                - 'BUDGET_REACHED'
                - 'DAILY_BUDGET_REACHED'
            example:
              - 'ACTIVE'
              - 'PAUSED'
        - name: orderBy
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/OrderByGetAdsParam'
        - name: direction
          in: query
          schema:
            $ref: '#/components/schemas/DirectionGetAdsRequest'
        - name: changedSince
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/ChangedSinceGetAdsRequest'
        - name: remainingBudget
          in: query
          required: false
          description: 'Used to retrieve only ads whose remaining budget (``totalBudget - spentBudget``) is below a given threshold value (absolute number or a percentage).'
          schema:
            - type: number
          examples:
            remainingBudgetAbsoluteNumber:
              value: 34534500
            remainingBudgetPercentage:
              value: 70%
        - name: startDate
          in: query
          required: false
          description: 'Determines the start date of the period to select ads with activity for.'
          schema:
            type: string
            format: date
          example: '2022-12-04'
        - name: endDate
          in: query
          required: false
          description: 'Determines the end date of the period to select ads with activity for. Should represent a date equal to or after the ``startDate``.'
          schema:
            type: string
            format: date
          example: '2023-06-13'
        - name: categoryIds
          in: query
          required: false
          description: 'List of category IDs to filter by. Only leaf category id’s are useful, since ads can only be placed in leaf categories.'
          schema:
            type: array
            items:
              type: integer
              format: int64
          example: [55500, 1280000]
        - name: _include
          in: query
          required: false
          description: 'Comma-separated-list of ad fields to include.'
          schema:
            type: array
            items:
              uniqueItems: true
              anyOf:
                - enum:
                    - 'id'
                    - 'title'
                    - 'description'
                    - 'categoryId'
                    - 'status'
                    - 'price'
                    - 'bidMicros'
                    - 'budgets'
                    - 'salutation'
                    - 'sellerName'
                    - 'postcode'
                    - 'regionId'
                    - 'phoneNumber'
                    - 'allowContactByEmail'
                    - 'dateCreated'
                    - 'dateLastUpdated'
                    - 'vendorId'
                    - 'links'
                    - 'images'
                    - 'attributes'
                    - 'shippingOptions'
              example:
                - 'title'
                - 'description'
                - 'status'
        - name: _exclude
          in: query
          required: false
          description: 'Comma-separated-list of ad fields to omit.'
          schema:
            type: array
            items:
              uniqueItems: true
              anyOf:
                - enum:
                    - 'id'
                    - 'title'
                    - 'description'
                    - 'categoryId'
                    - 'status'
                    - 'price'
                    - 'bidMicros'
                    - 'budgets'
                    - 'salutation'
                    - 'sellerName'
                    - 'postcode'
                    - 'regionId'
                    - 'phoneNumber'
                    - 'allowContactByEmail'
                    - 'dateCreated'
                    - 'dateLastUpdated'
                    - 'vendorId'
                    - 'links'
                    - 'images'
                    - 'attributes'
                    - 'shippingOptions'
              example:
                - 'images'
                - 'attributes'
      responses:
        '200':
          description: 'Success'
          headers:
            Oauth-Scope:
              description: 'Oauth scopes that are available with the supplied token'
              schema:
                type: string
                example: 'api_ro api_rw'
            Oauth-Scope-Required:
              description: 'The required permission for this particular call'
              schema:
                type: string
                example: 'get_ads'
          content:
            application/sellside.ad.list-v5+json:
              schema:
                $ref: '#/components/schemas/AdListV5Response'
            application/sellside.ad.list-v3+json:
              schema:
                $ref: '#/components/schemas/AdListV3Response'
        '401':
          description: 'Unauthorized'
          content:
            application/sellside.error-v1+json; charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiResponseError'
              example:
                - code: 1009
                  text: 'missing token'
                  msg: 'Authorization header is missing or in the wrong format'
        '406':
          description: 'Not Acceptable'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotSupportedError'
        '500':
          description: 'Server Error'
          content:
            application/sellside.error-v1+json; charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiResponseError'
              example:
                - code: 1000
                  text: 'internal error'
                  msg: 'The server encountered an error'
      security:
        - bearerAuth: []
          oAuth2ClientCredentials:
            - 'console_ro'
            - 'api_ro'
    post:
      tags:
        - Ads
      summary: 'Creates a new ad for the current user.'
      description: '<br>
                   Version 5 has a slightly different backwards-incompatible structure than v3. Version 4 is omitted on purpose. <br>
                   Version 3 works just like v2, except the response body contains an additional field ``statusReasons``. This field is currently used to indicate the reason why a certain ad might be set to a certain status by our system. This could be due to, for example, an action (like new website domain approval) pending from the user, which is a mechanism used to prevent account takeovers from setting the website URL to a malicious one.'
      operationId: postAd
      requestBody:
        required: true
        content:
          application/sellside.ad-v5+json:
            schema:
              $ref: '#/components/schemas/AdV5Request'
            examples:
              manualBidding:
                value:
                  title: 'Brother Fax voor 99,99'
                  description: '<b>NU extra voordelig op ourshop.com.</b> Fax nu voor slechts <b>99,99!</b>'
                  categoryId: 826
                  status: 'ACTIVE'
                  price:
                    priceType: 'FIXED_PRICE'
                    priceUnit: 'per_sqm'
                    amountCents: 5600
                    originalAmountCents: 6500
                  bidMicros: '10000'
                  budgets:
                    daily:
                      limitMicros: 'UNLIMITED'
                    total:
                      limitMicros: '350000000'
                  campaignId: 54212
                  salutation: 'COMPANY'
                  sellerName: 'My Shop'
                  postcode: '1097DN'
                  regionId: 1700195
                  phoneNumber: '0207894561'
                  allowContactByEmail: true
                  vendorId: 'OURSHOP-1423453-34'
                  links:
                    displayUrl: 'www.ourshop.com/Faxes'
                    url: 'http://www.ourshop.com/index.php?param1=value1&amp;param2=value2&amp;param3=value3'
                  images:
                    - src: 'http://www.ourshop.com/img/brother_fax_big.jpg'
                    - src: 'http://www.ourshop.com/img/brother_fax_side.jpg'
                  attributes:
                    - key: 'color'
                      label: 'Kleur'
                      locale: 'nl'
                      type: 'STRING'
                      value: 'Zwart'
                    - key: 'size'
                      label: 'Maat'
                      locale: 'nl'
                      type: 'NUMBER'
                      value: 6
                    - key: 'software'
                      label: 'Software'
                      locale: 'nl'
                      type: 'LIST'
                      value:
                        - 'Apple OSX'
                        - 'Microsoft Windows 7'
                  shippingOptions:
                    - type: 'SHIP'
                      costCents: 495
                      time: '2d-5d'
                    - type: 'PICKUP'
                      pickupLocation: '1097DN'
              autoBidding:
                value:
                  title: 'Brother Fax voor 99,99'
                  description: '<b>NU extra voordelig op ourshop.com.</b> Fax nu voor slechts <b>99,99!</b>'
                  categoryId: 826
                  status: 'ACTIVE'
                  price:
                    priceType: 'FIXED_PRICE'
                    priceUnit: 'per_sqm'
                    amountCents: 5600
                    originalAmountCents: 6500
                  bidMicros: 'AUTOMATIC'
                  budgets:
                    daily:
                      limitMicros: '30000000'
                    total:
                      limitMicros: 'UNLIMITED'
                  campaignId: 54212
                  salutation: 'COMPANY'
                  sellerName: 'My Shop'
                  postcode: '1097DN'
                  regionId: 1700195
                  phoneNumber: '0207894561'
                  allowContactByEmail: true
                  vendorId: 'OURSHOP-1423453-34'
                  links:
                    displayUrl: 'www.ourshop.com/Faxes'
                    url: 'http://www.ourshop.com/index.php?param1=value1&amp;param2=value2&amp;param3=value3'
                  images:
                    - src: 'http://www.ourshop.com/img/brother_fax_big.jpg'
                    - src: 'http://www.ourshop.com/img/brother_fax_side.jpg'
                  attributes:
                    - key: 'color'
                      label: 'Kleur'
                      locale: 'nl'
                      type: 'STRING'
                      value: 'Zwart'
                    - key: 'size'
                      label: 'Maat'
                      locale: 'nl'
                      type: 'NUMBER'
                      value: 6
                    - key: 'software'
                      label: 'Software'
                      locale: 'nl'
                      type: 'LIST'
                      value:
                        - 'Apple OSX'
                        - 'Microsoft Windows 7'
                  shippingOptions:
                    - type: 'SHIP'
                      costCents: 495
                      time: '2d-5d'
                    - type: 'PICKUP'
                      pickupLocation: '1097DN'
          application/sellside.ad-v3+json:
            schema:
              $ref: '#/components/schemas/AdV3Request'
          application/sellside.ad-v2+json:
            schema:
              $ref: '#/components/schemas/AdV2Request'
      responses:
        '201':
          description: 'Created'
        '401':
          description: 'Unauthorized'
          content:
            application/sellside.error-v1+json; charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiResponseError'
              example:
                - code: 1009
                  text: 'missing token'
                  msg: 'Authorization header is missing or in the wrong format'
        '400':
          description: 'Bad Request'
          content:
            application/sellside.error-v1+json; charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiResponseError'
              example:
                - code: 1009
                  text: 'missing token'
                  msg: 'Authorization header is missing or in the wrong format'
        '500':
          description: 'Server Error'
          content:
            application/sellside.error-v1+json; charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiResponseError'
              example:
                - code: 1000
                  text: 'internal error'
                  msg: 'The server encountered an error'
      security:
        - bearerAuth: [ ]
          oAuth2ClientCredentials:
            - 'console_rw'
            - 'api_rw'
  /ad/prefill:
    post:
      tags:
        - Ads
      summary: 'Returns a template for an ad, to be used for prefilling. This template can contain suggestions for title, category, description and attributes.'
      description: 'Retrieving prefill information is possible only for ads from categories that have defined identifying attributes. Identifying attributes are attributes that can uniquely identify advertised items. An example of identifying attribute is ISBN, which can be used to uniquely identify a specific version of a book.'
      operationId: postAdPrefil
      requestBody:
        content:
          aapplication/sellside.ad.template-v1+json:
            schema:
              $ref: '#/components/schemas/AdPrefillTemplateRequest'
      responses:
        '200':
          description: 'Success'
          headers:
            Oauth-Scope:
              description: 'Oauth scopes that are available with the supplied token'
              schema:
                type: string
                example: 'api_ro api_rw'
            Oauth-Scope-Required:
              description: 'The required permission for this particular call'
              schema:
                type: string
                example: 'prefill_ad'
            Location:
              description: 'When the ad is successfully created, this contains the URL location of the ad.'
              schema:
                type: string
                example: '/api/sellside/ad/1234234'
          content:
            application/sellside.ad.template-v1+json:
              schema:
                $ref: '#/components/schemas/AdPrefillTemplateResponse'
        '401':
          description: 'Unauthorized'
          content:
            application/sellside.error-v1+json; charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiResponseError'
              example:
                - code: 1009
                  text: 'missing token'
                  msg: 'Authorization header is missing or in the wrong format'
        '400':
          description: 'Bad Request'
          content:
            application/sellside.error-v1+json; charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiResponseError'
              example:
                - code: 1009
                  text: 'missing token'
                  msg: 'Authorization header is missing or in the wrong format'
        '406':
          description: 'Not Acceptable'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotSupportedError'
              examples:
                typeMismatch:
                  value:
                    - code: 1006
                      text: 'type mismatch'
                      msg: 'The type of field ''categoryId'' does not match'
                      field: 'categoryId'
                missingArgument:
                  value:
                    - code: 2000
                      text: 'missing argument'
                      msg: 'The field ''categoryId'' was missing'
                      field: 'categoryId'
                invalidArgument:
                  value:
                    - code: 2001
                      text: 'invalid argument'
                      msg: 'The value of field ''categoryId'' was invalid'
                      field: 'categoryId'
                categoryPrefillNotSupported:
                  value:
                    - code: 2029
                      text: 'category prefill not supported'
                      msg: 'Prefill is not supported for the category'
                      field: 'categoryId'
                MissingIdentifyingAttribute:
                  value:
                    - code: 2030
                      text: 'missing identifying attribute'
                      msg: 'Missing one of the identifying attributes: licensePlate'
                      field: 'attributes'
        '500':
          description: 'Server Error'
          content:
            application/sellside.error-v1+json; charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiResponseError'
              example:
                - code: 1000
                  text: 'internal error'
                  msg: 'The server encountered an error'
      security:
        - bearerAuth: []
          oAuth2ClientCredentials:
            - 'console_rw'
            - 'api_rw'
  /ad/{id}/funnel:
    get:
      tags:
        - Ads
      summary: 'Get performance funnel for an ad.'
      description: 'Returns performance predictions such as number of impressions, clicks and url clicks for a given ad and cpc value.<br>
      The endpoint also returns information regarding the current page on which the ad is displayed (``pageNumber``) and the required cpc value which would place the ad on page one (``averageCpc``). If ``cpc`` is greater than ``maxCpc`` then this ad does not perform well enough to be placed on page one. <br>
      The ``averageCpc`` field in the response marks the required cpc value to place the ad on page one in its category. We will rename this field in a future version of the endpoint to make this clearer.
      '
      operationId: getAdFunnel
      parameters:
        - name: id
          in: path
          description: 'ID of the ad for which performance funnel is requested.'
          required: true
          schema:
            type: integer
            format: int64
            example: 423920348
        - name: cpc
          in: query
          description: 'The CPC value in euro cents for which to make the prediction.'
          required: true
          schema:
            type: number
            format: int64
            minimum: 1
            example: 50
        - name: _include
          in: query
          required: false
          description: 'Comma-separated-list of ad fields to include.'
          schema:
            type: array
            items:
              uniqueItems: true
              anyOf:
                - enum:
                    - 'cpc'
                    - 'pageNumber'
                    - 'averageClicks'
                    - 'averageCpc'
                    - 'averageImpressions'
                    - 'averageUrlClicks'
                    - 'ctr'
                    - 'urlCtr'
                    - 'maxCpc'
              example:
                - 'cpc'
                - 'averageClicks'
        - name: _exclude
          in: query
          required: false
          description: 'Comma-separated-list of ad fields to omit.'
          schema:
            type: array
            items:
              uniqueItems: true
              anyOf:
                - enum:
                    - 'cpc'
                    - 'pageNumber'
                    - 'averageClicks'
                    - 'averageCpc'
                    - 'averageImpressions'
                    - 'averageUrlClicks'
                    - 'ctr'
                    - 'urlCtr'
                    - 'maxCpc'
              example:
                - 'averageImpressions'
                - 'urlCtr'
      responses:
        '200':
          description: 'Success'
          headers:
            Oauth-Scope:
              description: 'Oauth scopes that are available with the supplied token'
              schema:
                type: string
                example: 'api_ro console_ro'
            Oauth-Scope-Required:
              description: 'The required permission for this particular call'
              schema:
                type: string
                example: 'get_ad_funnel'
          content:
            application/sellside.funnel-v1+json:
              schema:
                $ref: '#/components/schemas/AdFunnelV1Response'
        '204':
          description: 'No Content'
          headers:
            Oauth-Scope:
              description: 'Oauth scopes that are available with the supplied token'
              schema:
                type: string
                example: 'api_ro console_ro'
            Oauth-Scope-Required:
              description: 'The required permission for this particular call'
              schema:
                type: string
                example: 'get_ad_funnel'
        '400':
          description: 'Bad Request'
          headers:
            Oauth-Scope:
              description: 'Oauth scopes that are available with the supplied token'
              schema:
                type: string
                example: 'api_ro console_ro'
            Oauth-Scope-Required:
              description: 'The required permission for this particular call'
              schema:
                type: string
                example: 'get_ad_funnel'
          content:
            application/sellside.error-v1+json; charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiResponseError'
              example:
                - code: 2001
                  text: 'invalid argument'
                  msg: 'the value of the field ''cpc'' was invalid'
      security:
        - bearerAuth: [ ]
          oAuth2ClientCredentials:
            - 'console_ro'
            - 'api_ro'
  /ad/mapping/externalids:
    get:
      tags:
        - Ads
      summary: 'Get a map of ad IDs for the user to the externalId the ad has'
      description: 'Returns a map of adIds for the current user to the externalId the ad has. 
      <br>
      This utility call is intended for uncommon usecases, such as when a client on-boards an already existing admarkt user and needs to do a one-time sync of adIds vs externalIds, or other cases where data got lost at the client.
      <br>
      Ads without externalId will not be present in the resulting map.'
      deprecated: true
      parameters:
        - name: status
          description: 'One of the possible Ad Status values to filter on.'
          in: query
          schema:
            type: string
            enum:
              - 'ACTIVE'
              - 'PAUSED'
              - 'BUDGET_REACHED'
              - 'DAILY_BUDGET_REACHED'
              - 'DELETED'
              - 'DELETED_BY_CS'
              - 'SUSPENDED_BY_CS'
              - 'DOMAIN_PENDING'
            default: 'ACTIVE'

        - name: limit
          in: query
          description: 'Limits the number of records returned.'
          schema:
            type: number
            default: 1000
            maximum: 10000
          example: 10
        - name: offset
          in: query
          description: 'Skips the first N records.'
          schema:
            type: number
          example: 5
      responses:
        '200':
          description: 'Success'
          headers:
            Oauth-Scope:
              description: 'Oauth scopes that are available with the supplied token'
              schema:
                type: string
                example: 'api_ro api_rw'
            Oauth-Scope-Required:
              description: 'The required permission for this particular call'
              schema:
                type: string
                example: 'get_ad'
          content:
            application/sellside.ad.external.id.mapping-v2+json:
              schema:
                $ref: '#/components/schemas/AdMappingExternalIdsV2Response'
      security:
        - bearerAuth: [ ]
          oAuth2ClientCredentials:
            - 'console_ro'
            - 'api_ro'
  /ad/byVendor/{vendorId}:
    get:
      tags:
        - Ads
      summary: 'Get ad by vendorId'
      description: 'Returns a single ad with the given ``vendorId``. Version 5 has a slightly different backwards-incompatible structure than v3. Version 4 is omitted on purpose. <br>
        Version 3 works just like v2, except the response body contains an additional field ``statusReasons``. This field is currently used to indicate the reason why a certain ad might be set to a certain status by our system. This could be due to, for example, an action (like new website domain approval) pending from the user, which is a mechanism used to prevent account takeovers from setting the website URL to a malicious one.'
      operationId: getAdByVendorId
      parameters:
        - name: vendorId
          in: path
          description: 'The vendorId of ad to return'
          required: true
          schema:
            type: string
            maxLength: 64
            example: 'OURSHOP-1423453-34'
      responses:
        '200':
          description: 'Success'
          headers:
            Oauth-Scope:
              description: 'Oauth scopes that are available with the supplied token'
              schema:
                type: string
                example: 'api_ro api_rw'
            Oauth-Scope-Required:
              description: 'The required permission for this particular call'
              schema:
                type: string
                example: 'get_ad'
          content:
            application/sellside.ad-v5+json:
              schema:
                $ref: '#/components/schemas/AdV5Response'
            application/sellside.ad-v3+json:
              schema:
                $ref: '#/components/schemas/AdV3Response'
            application/sellside.ad-v2+json:
              schema:
                $ref: '#/components/schemas/AdV2Response'
        '400':
          description: 'Bad Request'
          content:
            application/sellside.error-v1+json; charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiResponseError'
              example:
                - code: 2005
                  text: 'value too long'
                  msg: 'max. length is 64 characters'
        '401':
          description: 'Unauthorized'
          content:
            application/sellside.error-v1+json; charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiResponseError'
              example:
                - code: 1009
                  text: 'missing token'
                  msg: 'Authorization header is missing or in the wrong format'
        '404':
          description: 'Not Found'
          content:
            application/sellside.error-v1+json; charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiResponseError'
              example:
                - code: 1004
                  text: 'not found'
                  msg: 'The entity was not found'
        '406':
          description: 'Not Acceptable'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotSupportedError'
        '500':
          description: 'Server Error'
          content:
            application/sellside.error-v1+json; charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiResponseError'
              example:
                - code: 1000
                  text: 'internal error'
                  msg: 'The server encountered an error'
      security:
        - bearerAuth: []
          oAuth2ClientCredentials:
            - 'console_ro'
            - 'api_ro'
  /image/{id}:
    get:
      tags:
        - Ads
      summary: 'Retrieves an image uploaded via POST /image by the same user.'
      description: 'Images which have not been saved with an ad are removed after 30 minutes.'
      operationId: getImageByID
      parameters:
        - name: id
          in: path
          description: 'A unique identifier of a previously uploaded ad image, that is requested.'
          required: true
          schema:
            type: string
            format: byte
            example: '9beac3db90c27aa8476cb880a362ceba'
        - name: Accept
          in: header
          description: 'The content type of the image to be returned'
          required: true
          schema:
            type: string
            enum: [ 'image/*' ]
      responses:
        '200':
          description: 'Success'
          headers:
            Oauth-Scope:
              description: 'Oauth scopes that are available with the supplied token'
              schema:
                type: string
                example: 'api_ro console_ro'
            Oauth-Scope-Required:
              description: 'The required permission for this particular call'
              schema:
                type: string
                example: 'get_image'
          content:
            image/jpg: {}
        '404':
          description: 'Not Found'
          content:
            application/sellside.error-v1+json; charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiResponseError'
              example:
                - code: 1004
                  text: 'not found'
                  msg: 'The entity was not found'
                  field: 'id'
      security:
        - bearerAuth: [ ]
          oAuth2ClientCredentials:
            - 'console_ro'
            - 'api_ro'
  /image:
    post:
      tags:
        - Ads
      summary: 'Upload ad images.'
      description: 'The maximum image size is 8MB and the supported image formats are: PNG, GIF, BMP and JPG. <br>
      All images are converted to JPG with maximum dimensions of 1024x1024 while the aspect ratio is maintained.'
      operationId: postImage
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                images:
                  type: array
                  items:
                    type: file
                    format: binary
            example: '...image bytes...'
        required: true
      parameters:
        - name: Accept
          in: header
          description: 'map with the name and a unique identifier for that image. The name is taken from the name parameter of the Content-Disposition header.'
          required: true
          schema:
            type: string
            enum: [ 'image/*' ]
      responses:
        '200':
          description: 'Success'
          headers:
            Oauth-Scope:
              description: 'Oauth scopes that are available with the supplied token'
              schema:
                type: string
                example: 'api_rw console_rw'
            Oauth-Scope-Required:
              description: 'The required permission for this particular call'
              schema:
                type: string
                example: 'post_image'
            Content-Disposition:
              schema:
                type: string
                example: 'form-data; name="image1"; filename="logo.png"'
          content:
            application/sellside.image.list-v1+json:
              schema:
                type: object
                description: 'A map with the name and a unique identifier for each uploaded image.'
                properties:
                  image1:
                    type: string
                    format: url
                    example: 'https://localhost/api/sellside/image/9beac3db90c27aa8476cb880a362ceba/b2c11184b33bdd3e12a1f46152d37a89.jpg'
      security:
        - bearerAuth: [ ]
          oAuth2ClientCredentials:
            - 'console_rw'
            - 'api_rw'

  # CATEGORIES
  /categories:
    get:
      tags:
        - Categories
      summary: 'Returns the a map of id to categories in the format described in the category taxonomy.'
      description: 'The category tree contains all the information about category definitions, attribute definitions and validation rules for placing ads.'
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
            example: 'application/sellside.category.list-v5+json'
          required: true
        - name: categoryIds
          in: path
          description: 'Comma-separated list of IDs for the requested categories from the category taxonomy tree.'
          required: true
          schema:
            type: array
            items:
              type: integer
              format: int64
            example: [ 863,431 ]
        - name: _include
          in: path
          description: 'Comma-separated-list of fields to include. Optional, default is all fields.'
          required: false
          schema:
            type: array
            items:
              type: string
        - name: _exclude
          in: path
          description: 'Comma-separated-list of fields to omit. Optional, default empty.'
          required: false
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: 'Success'
          headers:
            Oauth-Scope:
              description: 'Oauth scopes that are available with the supplied token'
              schema:
                type: string
                example: 'api_ro api_rw console_ro console_rw'
            Oauth-Scope-Required:
              description: 'The required permission for this particular call'
              schema:
                type: string
                example: 'get_category'
          content:
            application/sellside.category.list-v5+json:
              schema:
                $ref: '#/components/schemas/NonLeafCategoryV5'
        '400':
          description: 'Bad Request'
          content:
            application/sellside.error-v1+json; charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiResponseError'
              example:
                - code: 2000
                  text: 'missing argument'
                  msg: 'The field ''categoryIds'' was missing'
                  field: 'categoryIds'
      security:
        - bearerAuth: [ ]
          oAuth2ClientCredentials:
            - 'console_ro'
            - 'api_ro'
  /category/{id}:
    get:
      tags:
        - Categories
      summary: 'Returns the category tree or parts of it in the category taxonomy format, starting from the category with the given category id.'
      description: 'To return the category tree starting from the root node use id 0. To retrieve all sub levels specify a sufficiently large number, e.g. 9999.'
      parameters:
        - name: id
          in: path
          description: 'The starting category ID of the taxonomy (sub) tree.'
          required: true
          schema:
            type: integer
            example: 856
        - name: levels
          in: path
          description: 'Specifies how many levels starting from the current one you want to retrieve.'
          required: false
          default: 0
          example: 1
      responses:
        '200':
          description: 'Success'
          headers:
            Oauth-Scope:
              description: 'Oauth scopes that are available with the supplied token'
              schema:
                type: string
                example: 'api_ro console_ro'
            Oauth-Scope-Required:
              description: 'The required permission for this particular call'
              schema:
                type: string
                example: 'get_category'
          content:
            application/sellside.category.list-v5+json:
              schema:
                $ref: '#/components/schemas/NonLeafCategoryV5'
        '400':
          description: 'Bad Request'
          content:
            application/sellside.error-v1+json; charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiResponseError'
              example:
                - code: 2000
                  text: 'missing argument'
                  msg: 'The field ''id'' was missing'
                  field: 'id'
                - code: 2001
                  text: 'invalid argument'
                  msg: 'The value of field ''levels'' was invalid'
                  field: 'levels'
                  value: -1
      security:
        - bearerAuth: [ ]
          oAuth2ClientCredentials:
            - 'console_ro'
            - 'api_ro'
  /category/{id}/funnel:
    get:
      tags:
        - Categories
      summary: 'Returns performance predictions such as number of impressions, clicks and url clicks for a given category and cpc value.'
      description: 'The endpoint also returns information regarding the page on which a new ad will be displayed if placed in the given category and with the given ``cpc`` value (``pageNumber``). 
      The response also contains a suggested cpc value to place an ad on page one in this category (``averageCpc``). If cpc is greater than ``maxCpc`` then the ads of this seller generally do not perform well enough to place new ads on the first page.'
      parameters:
        - name: id
          in: path
          required: true
          description: 'The starting category ID of the taxonomy (sub) tree.'
          schema:
            type: integer
            example: 856
        - name: regionId
          in: query
          description: 'The region ID for which to make the prediction. MP & TWH users should omit this field.'
          schema:
            type: integer
        - name: cpc
          in: query
          description: 'The cpc value in euro cents for which to make the prediction.'
          required: true
          schema:
            type: integer
            format: int64
            minimum: 2
          example: 50
        - name: _include
          in: query
          required: false
          description: 'Comma-separated-list of ad fields to include.'
          schema:
            type: array
            items:
              uniqueItems: true
              anyOf:
                - enum:
                    - 'cpc'
                    - 'pageNumber'
                    - 'averageClicks'
                    - 'averageCpc'
                    - 'averageImpressions'
                    - 'averageUrlClicks'
                    - 'ctr'
                    - 'urlCtr'
                    - 'maxCpc'
              example:
                - 'cpc'
                - 'averageClicks'
        - name: _exclude
          in: query
          required: false
          description: 'Comma-separated-list of ad fields to omit.'
          schema:
            type: array
            items:
              uniqueItems: true
              anyOf:
                - enum:
                    - 'cpc'
                    - 'pageNumber'
                    - 'averageClicks'
                    - 'averageCpc'
                    - 'averageImpressions'
                    - 'averageUrlClicks'
                    - 'ctr'
                    - 'urlCtr'
                    - 'maxCpc'
              example:
                - 'averageImpressions'
                - 'urlCtr'
      responses:
        '200':
          description: 'Success'
          headers:
            Oauth-Scope:
              description: 'Oauth scopes that are available with the supplied token'
              schema:
                type: string
                example: 'api_ro console_ro'
            Oauth-Scope-Required:
              description: 'The required permission for this particular call'
              schema:
                type: string
                example: 'get_funnel'
          content:
            application/sellside.funnel-v1+json:
              schema:
                $ref: '#/components/schemas/AdFunnelV1Response'
        '400':
          description: 'Bad Request'
          content:
            application/sellside.error-v1+json; charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiResponseError'
              example:
                - code: 2001
                  text: 'invalid argument'
                  msg: 'The value of field ''cpc'' was invalid'
                  field: 'cpc'
                  value: -1
      security:
        - bearerAuth: [ ]
          oAuth2ClientCredentials:
            - 'console_ro'
            - 'api_ro'

  # REGIONS
  /regions:
    get:
      tags:
        - Regions
      summary: 'Returns the a map of id to regions in the format described in the regions taxonomy.'
      description: 'The region tree contains all the information about region definitions for placing ads.'
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
            example: 'application/sellside.region.list-v1+json'
          required: true
        - name: regionIds
          in: path
          description: 'Comma-separated list of IDs for the requested regions from the regions taxonomy tree.'
          required: true
          schema:
            type: array
            items:
              type: integer
              format: int64
            example: [ 1700093,1700195,1700196 ]
            maxItems: 100
        - name: _include
          in: path
          description: 'Comma-separated-list of fields to include. Optional, default is all fields.'
          required: false
          schema:
            type: array
            items:
              type: string
        - name: _exclude
          in: path
          description: 'Comma-separated-list of fields to omit. Optional, default empty.'
          required: false
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: 'Success'
          headers:
            Oauth-Scope:
              description: 'Oauth scopes that are available with the supplied token'
              schema:
                type: string
                example: 'api_ro api_rw'
            Oauth-Scope-Required:
              description: 'The required permission for this particular call'
              schema:
                type: string
                example: 'get_region'
          content:
            application/sellside.category.list-v5+json:
              schema:
                $ref: '#/components/schemas/NonLeafRegion'
        '400':
          description: 'Bad Request'
          content:
            application/sellside.error-v1+json; charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiResponseError'
              example:
                - code: 2000
                  text: 'missing argument'
                  msg: 'The field ''regionIds'' was missing'
                  field: 'regionIds'
      security:
        - bearerAuth: [ ]
          oAuth2ClientCredentials:
            - 'console_ro'
            - 'api_ro'
  /region/{id}:
    get:
      tags:
        - Regions
      summary: 'Returns the region tree or parts of it starting from the node with the given region id.'
      description: 'To return the region tree starting from the root node use id 0. To retrieve all sub levels specify a sufficiently large number, e.g. 9999.'
      parameters:
        - name: id
          in: path
          description: 'The starting region ID of the taxonomy (sub) tree.'
          required: true
          schema:
            type: integer
            example: 1700194
        - name: levels
          in: path
          description: 'Specifies how many levels starting from the current one you want to retrieve.'
          required: false
          default: 0
          example: 1
      responses:
        '200':
          description: 'Success'
          headers:
            Oauth-Scope:
              description: 'Oauth scopes that are available with the supplied token'
              schema:
                type: string
                example: 'api_ro console_ro'
            Oauth-Scope-Required:
              description: 'The required permission for this particular call'
              schema:
                type: string
                example: 'get_category'
          content:
            application/sellside.region.list-v5+json:
              schema:
                $ref: '#/components/schemas/NonLeafRegion'
        '400':
          description: 'Bad Request'
          content:
            application/sellside.error-v1+json; charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiResponseError'
              example:
                - code: 2000
                  text: 'missing argument'
                  msg: 'The field ''id'' was missing'
                  field: 'id'
                - code: 2001
                  text: 'invalid argument'
                  msg: 'The value of field ''levels'' was invalid'
                  field: 'levels'
                  value: -1
      security:
        - bearerAuth: [ ]
          oAuth2ClientCredentials:
            - 'console_ro'
            - 'api_ro'
        # FEEDS
  /feed/import/{id}/detail:
    get:
      tags:
        - Feeds
      summary: 'Returns a summary of the particular feed import'
      description: 'Provides information on whether there were any errors or warnings associated with a specific import.'
      operationId: getFeedImportDetail
      parameters:
        - name: id
          in: path
          description: 'the import ID for which details are requested'
          schema:
            type: number
            example: 123
            required: true
      responses:
        '200':
          description: 'Success'
          headers:
            Oauth-Scope:
              description: 'Oauth scopes that are available with the supplied token'
              schema:
                type: string
                example: 'api_ro console_ro'
            Oauth-Scope-Required:
              description: 'The required permission for this particular call'
              schema:
                type: string
                example: 'get_feed_import'
          content:
            application/sellside.feedimportdetail-v2+json:
              schema:
                type: object
                readOnly: true
                properties:
                  id:
                    type: number
                    description: 'A unique identifier of the import ID, same as provided in the call'
                    example: 123
                  url:
                    type: string
                    description: 'The URL where the feed was downloaded from.'
                    example: 'http://feed.com/id/5324'
                  status:
                    type: string
                    description: 'The status of the requested feed import. If the feed is currently processing, it will return ``PENDING``. 
                              If it has completed successfully, the status will be ``DONE``. Individual ads could still have failed updating, but the process completed. 
                              If the feed import failed, either because the file could not be downloaded or the feed did not pass validation, the status will be ``REJECTED``, which means NO ads have been processed.'
                    enum:
                      - 'PENDING'
                      - 'DONE'
                      - 'REJECTED'
                    example: 'DONE'
                  dateCreated:
                    type: string
                    format: time
                    description: 'ISO 8601 date of when the feed import was started.'
                    example: '2021-08-31T16:12:53Z'
                  error:
                    type: string
                    description: 'The error affecting the whole feed import, as opposed to ``errors`` containing errors affecting individual ads. If your feed is in status ``REJECTED`` this should have the reason.'
                    example: ""
                  totalRecordsRead:
                    type: number
                    description: 'The total number of ads found in the feed file.'
                    example: 110
                  recordsSucceeded:
                    type: number
                    description: 'The number of ads processed without errors.'
                    example: 106
                  recordsFailed:
                    type: number
                    description: 'The number of ads rejected due to errors.'
                    example: 4
                  recordsWithWarnings:
                    type: number
                    description: 'The number of ads processed with warnings.'
                    example: 10
                  errors:
                    type: object
                    additionalProperties:
                      type: object
                      properties:
                        count:
                          type: number
                          description: 'Total number of ads affected by this error/warning message'
                          example: 4
                        vendorIdsSample:
                          type: array
                          items:
                            type: string
                          description: 'Subset (max 100) of vendorIDs that were affected by this error'
                        rowNumbersSample:
                          type: array
                          items:
                            type: string
                          description: 'Subset (max 100) of row numbers that were affected by this error. This applies only to rows where the vendorId was not found due to a validation error'
                    example:
                      'price should be lower than originalPrice':
                        count: 4
                        'vendorIdsSample': [ "566", "abc-788","990232","000mcakjn" ]
                        'rowNumbersSample': [ ]
                      'field ''autobid'' has invalid boolean value, allowed values ''[TRUE FALSE]''':
                        count: 2
                        'vendorIdsSample': [ ]
                        'rowNumbersSample': [ "4", "42" ]
                  warnings:
                    type: object
                    additionalProperties:
                      type: object
                      properties:
                        count:
                          type: number
                          description: 'Total number of ads affected by this error/warning message'
                          example: 2
                        vendorIdsSample:
                          type: array
                          items:
                            type: string
                          description: 'Subset (max 100) of vendorIDs that were affected by this error'
                    example:
                      'price should be lower than originalPrice':
                        count: 4
                        'vendorIdsSample': [ "vid6778787", "vendorid124" ]
                      'mandatory attribute 240 absent':
                        count: 8
                        "vendorIdsSample": [ "vendorid124","vendorid224" ]
              examples:
                successWarningsErrors:
                  value:
                    id: 123
                    url: 'http://feed.com/id/5324'
                    dateCreated: '2021-08-31T16:12:53Z'
                    status: 'DONE'
                    error: ''
                    totalRecordsRead: 110
                    recordsSucceeded: 106
                    recordsFailed: 4
                    recordsWithWarnings: 10
                    errors:
                      price should be lower than originalPrice:
                        count: 4
                        vendorIdsSample:
                          - '566'
                          - 'abc-788'
                          - '990232'
                          - '000mcakjn'
                        rowNumbersSample: []
                      field 'autobid' has invalid boolean value, allowed values '[TRUE FALSE]':
                        count: 2
                        vendorIdsSample: []
                        rowNumbersSample:
                          - '4'
                          - '42'
                    warnings:
                      externalId is deprecated (use only vendorId):
                        count: 2
                        vendorIdsSample:
                          - 'vid6778787'
                          - 'vendorid124'
                      mandatory attribute 240 absent:
                        count: 8
                        vendorIdsSample:
                          - 'vendorid124'
                          - 'vendorid224'
                successXMLValidationRejected:
                  value:
                    id: 123
                    url: 'http://feed.com/id/5324'
                    dateCreated: '2021-08-31T16:12:53Z'
                    status: 'REJECTED'
                    error: 'feed validation failure: invalid feed: parsing xml feed: XML syntax error on line 34: invalid character entity &raquo;'
                    totalCount: 0
                    okCount: 0
                    errorCount: 0
                    warningCount: 0
                    errors: { }
                    warnings: { }
                successURLFetchFailure:
                  value:
                    id: 123
                    url: 'http://feed.com/id/5324.xml'
                    dateCreated: '2021-08-31T16:12:53Z'
                    status: 'REJECTED'
                    error: 'HTTP 404 Not Found for: http://feed.com/id/5324.xml: fetch url failure'
                    totalCount: 0
                    okCount: 0
                    errorCount: 0
                    warningCount: 0
                    errors: { }
                    warnings: { }
      security:
        - bearerAuth: [ ]
          oAuth2ClientCredentials:
            - 'console_ro'
            - 'api_ro'
  /feed/config:
    get:
      tags:
        - Feeds
      summary: 'Returns the feed configuration of the current user'
      description: 'A user can update his or her ads by describing them in an XML document, called **feed**. The system reads all user feeds once per day and synchronizes ads in the system.
      <br><br>
      The feed configuration object contains an ``enabled`` field. It is **true** when the current user has enabled feed publication and **false** otherwise. 
      <br>
      When feed publication is enabled, the feed configuration object contains a field ``feedUrl`` which contains the configured feed url for the current user.
      <br>
      Access to the feed functionality may be granted per user by the Customer Service. 
      '
      operationId: getFeedConfigV1
      responses:
        '200':
          description: 'Success'
          headers:
            Oauth-Scope:
              description: 'Oauth scopes that are available with the supplied token'
              schema:
                type: string
                example: 'api_ro console_ro'
            Oauth-Scope-Required:
              description: 'The required permission for this particular call'
              schema:
                type: string
                example: 'get_feed_config'
          content:
            application/sellside.feedconfig-v1+json:
              schema:
                $ref: '#/components/schemas/FeedConfigV1Response'
        '401':
          description: 'Unauthorized'
          content:
            application/sellside.error-v1+json; charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiResponseError'
              example:
                - code: 1008
                  text: 'access denied'
                  msg: 'The user is invalid'
      security:
        - bearerAuth: [ ]
          oAuth2ClientCredentials:
            - 'console_ro'
            - 'api_ro'
    post:
      tags:
        - Feeds
      summary: 'Updates the feed configuration of the current user.'
      description: 'The feed configuration object must contain a boolean field ``enabled``. 
      <br>
      Depending on its value the feed will be activated or disabled. If the feed is being activated, the field feedUrl is mandatory and should contain a valid URL to a feed XML document.'
      operationId: postFeedConfigV1
      requestBody:
        required: true
        content:
          application/sellside.feedconfig-v1+json:
            schema:
              $ref: '#/components/schemas/FeedConfigV1Request'
      responses:
        '200':
          description: 'Success'
          headers:
            Oauth-Scope:
              description: 'Oauth scopes that are available with the supplied token'
              schema:
                type: string
                example: 'console_rw api_rw'
            Oauth-Scope-Required:
              description: 'The required permission for this particular call'
              schema:
                type: string
                example: 'post_feed_config'
        '400':
          description: 'Bad Request'
          content:
            application/sellside.error-v1+json; charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiResponseError'
              example:
                - code: 1008
                  text: 'invalid url'
                  msg: 'The value of field ''feedUrl'' is not a valid url'
      security:
        - bearerAuth: [ ]
          oAuth2ClientCredentials:
            - 'console_rw'
            - 'api_rw'
  /feed/xsd:
    get:
      tags:
        - Feeds
      summary: 'Returns the XSD used to validate feed XML files against.'
      description: 'Users can use this XSD to check their feed XML themselves, instead of just submitting it and waiting for results the next day.'
      operationId: getFeedXSDv1
      responses:
        '200':
          description: 'Success'
          content:
            text/xml: # TODO: move the whole XSD XML schema here
              schema:
                type: string
      security:
        - bearerAuth: [ ]
          oAuth2ClientCredentials:
            - 'console_ro'
            - 'api_ro'
  /feed/empty:
    get:
      tags:
        - Feeds
      summary: 'Returns an empty file that can be used to temporarily pause the entire ad inventory.'
      description: 'It provides a downloadable file with a unique name, sufficient to upload it to your xml web server and change the URL to it.'
      operationId: getFeedEmptyV1
      parameters:
        - name: format
          in: path
          description: 'Provide the format of the file.'
          required: false
          schema:
            type: string
            enum:
              - tsv
              - xml
            example: tsv
            default: xml
      responses:
        '200':
          description: 'Success'
          content:
            text/xml:
              schema:
                type: object
                xml:
                  name: ads
            text/tab-separated-values:
              schema:
                type: string
                example: 'id\ttitle\tdescription'
          headers:
            Content-Disposition:
              schema:
                type: string
                description: 'An example of the Content-Disposition header'
                example: 'attachment; filename="empty-234897234.xml'
      security:
        - bearerAuth: [ ]
          oAuth2ClientCredentials:
            - 'console_ro'
            - 'api_ro'
  /feed/import:
    get:
      tags:
        - Feeds
      summary: 'Returns the feed imports of the current user in descending chronological order.'
      description: 'Feed imports are triggered automatically by the system once per day or on demand by Customer Service agents. <br>
      Each feed import object contains the time when it was started (``dateCreated``), the URL of the user’s XML document (``url``) and whether the document could successfully be processed (``status``). <br>
      
      <br><br>
      The feed import object also contains counters to denote the total number of ads specified in the XML document (``totalCount``), the number of ads which were processed without errors (``okCount``), 
      the number of ads which were processed with warnings (``warningCount``) and the number of ads which were rejected due to errors (``errorCount``).
      '
      operationId: getFeedImport
      parameters:
        - name: limit
          in: query
          required: false
          description: 'Limits the number of records returned.'
          schema:
            type: integer
            maximum: 100
            default: 10
          example: 50
      responses:
        '200':
          description: 'Success'
          headers:
            Oauth-Scope:
              description: 'Oauth scopes that are available with the supplied token'
              schema:
                type: string
                example: 'api_ro console_ro'
            Oauth-Scope-Required:
              description: 'The required permission for this particular call'
              schema:
                type: string
                example: 'get_feed_import'
          content:
            application/sellside.feedimport.list-v1+json:
              schema:
                type: array
                readOnly: true
                description: 'Feed imports of the current user in descending chronological order.'
                items:
                  properties:
                    id:
                      type: number
                      description: 'A unique identifier which can be used to query for more information regarding errorneous ads in the feed.'
                    url:
                      type: string
                      description: 'The configured feed URL for the current user.'
                      maxLength: 512
                    status:
                      type: string
                      enum:
                        - DONE
                        - PENDING
                        - REJECTED
                      description: 'The status of the feed import. The status field contains **DONE** when the document was processed correctly, **PENDING** - when it is currently being processed or **REJECTED** - when it was either not accessible or syntactically incorrect. <br>
        In the latter case, the field ``error`` contains a descriptive error message.'
                    dateCreated:
                      type: string
                      format: datetime
                      description: 'The time when the feed import started.'
                    error:
                      type: string
                      description: 'Contains a descriptive message o fthe error in case a feed was rejected.'
                    totalCount:
                      type: number
                      description: 'The total number of ads specified in the feed.'
                    okCount:
                      type: number
                      description: 'The number of ads whihc were processed without errors.'
                    warningCount:
                      type: number
                      description: 'The number of ads which were processed with warnings.'
                    errorCount:
                      type: number
                      description: 'The number of ads which were rejected (not imported) due to errors.'

                example:
                  - id: 5
                    url: 'http://www.ourshop.com/feed.xml'
                    status: 'DONE'
                    dateCreated: '2016-02-03T15:35:33Z'
                    error: ''
                    totalCount: 2
                    okCount: 1
                    warningCount: 1
                    errorCount: 0
                  - id: 4
                    url: 'http://ourshop.com/notfound.xml'
                    status: 'REJECTED'
                    dateCreated: '2016-02-03T15:35:23Z'
                    error: 'HTTP 404 Not Found for: http://ourshop.com/notfound.xm'
                    totalCount: -1
                    okCount: 0
                    warningCount: 0
                    errorCount: 0
        '400':
          description: 'Bad Request'
          content:
            application/sellside.error-v1+json; charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiResponseError'
              example:
                - code: 2002
                  text: 'out of range'
                  msg: 'The value of the field ''limit'' was out of range (n > 1)'
      security:
        - bearerAuth: [ ]
          oAuth2ClientCredentials:
            - 'console_ro'
            - 'api_ro'
  # CAMPAIGNS
  /campaign/:
    post:
      tags:
        - Campaigns
      summary: 'Creates a new campaign for the user'
      description: 'Creates a new campaign for the user. If successful, it returns an object representing the campaign, with default values on certain fields, if not provided. A minimum payload is an empty JSON, as none of the fields are mandatory.'
      operationId: postCampaignV2
      parameters:
        - name: Accept
          in: header
          description: 'This header represents the version of the response acceptable by the client.'
          schema:
            type: string
            example: 'application/sellside.campaign-v5+json'
          required: true
      requestBody:
        content:
          application/sellside.campaign-v5+json:
            schema:
              $ref: '#/components/schemas/CampaignRequestV5'
          application/sellside.campaign-v2+json:
            schema:
              deprecated: true
              $ref: '#/components/schemas/CampaignV2'
      responses:
        '201':
          description: 'Campaign created'
          headers:
            Oauth-Scope:
              description: 'Oauth scopes that are available with the supplied token'
              schema:
                type: string
                example: 'api_ro api_rw'
            Oauth-Scope-Required:
              description: 'The required permission for this particular call'
              schema:
                type: string
                example: 'post_campaign'
          content:
            application/sellside.campaign-v5+json:
              schema:
                $ref: '#/components/schemas/CampaignResponseV5'
            application/sellside.campaign-v2+json:
              schema:
                $ref: '#/components/schemas/CampaignV2'
          links:
            vendorIdLink:
              operationId: getCampaignByVendorId
              parameters:
                vendorId: '$response.body#/vendorId'
        '400':
          description: 'Validation error'
          content:
            'content-type: application/json; charset=utf-8':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiResponseError'
                example:
                  - code: 2034
                    text: 'campaign already exists'
                    msg: 'Campaign can only be created once for the same user'
                    field: 'campaign'
                    arg: ''
        '401':
          description: 'Unauthorized'
          content:
            application/sellside.error-v1+json; charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiResponseError'
              example:
                - code: 1009
                  text: 'missing token'
                  msg: 'Authorization header is missing or in the wrong format'
        '406':
          description: 'Not Acceptable'
          content:
            'content-type: application/json; charset=utf-8':
              schema:
                $ref: '#/components/schemas/NotSupportedError'
        '500':
          description: 'Server Error'
          content:
            application/sellside.error-v1+json; charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiResponseError'
              example:
                - code: 1000
                  text: 'internal error'
                  msg: 'The server encountered an error'
      security:
        - bearerAuth: []
          oAuth2ClientCredentials:
            - 'console_rw'
            - 'api_rw'
  '/campaign/byVendor/{vendorId}':
    get:
      tags:
        - Campaigns
      summary: 'Returns a single campaign with the given vendorId.'
      description: 'If the campaign does not exist or does not belong to the user the server returns 404 Not Found. If the vendorId is bigger than 64 characters the server returns 400 Bad Request. The vendorId is unique for a user; It is not possible for a single user to create multiple campaigns with the same vendorId (even if other campaigns are in status DELETED)'
      operationId: getCampaignByVendorId
      parameters:
        - name: vendorId
          in: path
          description: 'Case-insensitive filter for a keyword in the title; will include only ads which contain the given keyword in their title.'
          schema:
            type: string
            example: 'my-christmas-campaign-2020'
          required: true
        - name: Accept
          in: header
          description: 'This header represents the version of the response acceptable by the client.'
          schema:
            type: string
            example: 'application/sellside.campaign-v5+json'
          required: true
      responses:
        '200':
          description: 'Success'
          headers:
            Oauth-Scope:
              description: 'Oauth scopes that are available with the supplied token'
              schema:
                type: string
                example: 'api_ro console_ro'
            Oauth-Scope-Required:
              description: 'The required permission for this particular call'
              schema:
                type: string
                example: 'get_campaign'
          content:
            application/sellside.campaign-v5+json:
              schema:
                $ref: '#/components/schemas/CampaignResponseV5'
            application/sellside.campaign-v2+json:
              schema:
                $ref: '#/components/schemas/CampaignV2'
        '401':
          description: 'Unauthorized'
          content:
            application/sellside.error-v1+json; charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiResponseError'
              example:
                - code: 1009
                  text: 'missing token'
                  msg: 'Authorization header is missing or in the wrong format'
        '406':
          description: 'Not Acceptable'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotSupportedError'
        '500':
          description: 'Server Error'
          content:
            application/sellside.error-v1+json; charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiResponseError'
              example:
                - code: 1000
                  text: 'internal error'
                  msg: 'The server encountered an error'
      security:
        - bearerAuth: []
          oAuth2ClientCredentials:
            - 'console_ro'
            - 'api_ro'
  /campaign/{id}:
    get:
      tags:
        - Campaigns
      summary: 'Returns a single existing campaign with the given id.'
      parameters:
        - name: id
          in: path
          description: 'A unique identifier of requested campaign.'
          schema:
            type: integer
            format: int64
            minimum: 1
            example: 123
          required: true
        - name: Accept
          in: header
          description: 'This header represents the version of the response acceptable by the client.'
          schema:
            type: string
            example: 'application/sellside.campaign-v5+json'
          required: true
      responses:
        '200':
          description: 'Success'
          headers:
            Oauth-Scope:
              description: 'Oauth scopes that are available with the supplied token'
              schema:
                type: string
                example: 'api_ro console_ro'
            Oauth-Scope-Required:
              description: 'The required permission for this particular call'
              schema:
                type: string
                example: 'get_campaign'
          content:
            application/sellside.campaign-v5+json:
              schema:
                $ref: '#/components/schemas/CampaignResponseV5'
            application/sellside.campaign-v2+json:
              schema:
                $ref: '#/components/schemas/CampaignV2'
        '401':
          description: 'Unauthorized'
          content:
            application/sellside.error-v1+json; charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiResponseError'
              example:
                - code: 1009
                  text: 'missing token'
                  msg: 'Authorization header is missing or in the wrong format'
        '406':
          description: 'Not Acceptable'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotSupportedError'
        '500':
          description: 'Server Error'
          content:
            application/sellside.error-v1+json; charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiResponseError'
              example:
                - code: 1000
                  text: 'internal error'
                  msg: 'The server encountered an error'
      security:
        - bearerAuth: [ ]
          oAuth2ClientCredentials:
            - 'console_ro'
            - 'api_ro'
    put:
      tags:
        - Campaigns
      summary: 'Updates an existing campaign identified by a campaign id.'
      parameters:
        - name: id
          in: path
          description: 'A unique identifier of requested campaign.'
          schema:
            type: integer
            format: int64
            minimum: 1
            example: 123
          required: true
        - name: Accept
          in: header
          description: 'This header represents the version of the response acceptable by the client.'
          schema:
            type: string
            example: 'application/sellside.campaign-v5+json'
          required: true
      requestBody:
        content:
          application/sellside.campaign-v5+json:
            schema:
              $ref: '#/components/schemas/CampaignRequestV5'
          application/sellside.campaign-v2+json:
            schema:
              deprecated: true
              $ref: '#/components/schemas/CampaignV2'
      responses:
        '200':
          description: 'Success'
          headers:
            Oauth-Scope:
              description: 'Oauth scopes that are available with the supplied token'
              schema:
                type: string
                example: 'api_rw console_rw'
            Oauth-Scope-Required:
              description: 'The required permission for this particular call'
              schema:
                type: string
                example: 'put_campaign'
          content:
            application/sellside.campaign-v5+json:
              schema:
                $ref: '#/components/schemas/CampaignResponseV5'
            application/sellside.campaign-v2+json:
              schema:
                $ref: '#/components/schemas/CampaignV2'
        '401':
          description: 'Unauthorized'
          content:
            application/sellside.error-v1+json; charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiResponseError'
              example:
                - code: 1009
                  text: 'missing token'
                  msg: 'Authorization header is missing or in the wrong format'
        '406':
          description: 'Not Acceptable'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotSupportedError'
        '500':
          description: 'Server Error'
          content:
            application/sellside.error-v1+json; charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiResponseError'
              example:
                - code: 1000
                  text: 'internal error'
                  msg: 'The server encountered an error'
      security:
        - bearerAuth: [ ]
          oAuth2ClientCredentials:
            - 'console_rw'
            - 'api_rw'
  /campaigns:
    get:
      tags:
        - Campaigns
      summary: 'Get all campaigns for the authenticated user.'
      parameters:
        - name: Accept
          in: header
          description: 'This header represents the version of the response acceptable by the client.'
          schema:
            type: string
            example: 'application/sellside.campaign.list-v5+json'
          required: true
        - name: limit
          in: query
          required: false
          description: 'Limits the number of campaigns returned.'
          schema:
            type: integer
            maximum: 100
            default: 100
          example: 50
        - name: pageToken
          in: query
          required: false
          description: 'Encoded information on where the previous page ended, send this along with the same request to get the next page of results.'
          schema:
            type: string
            format: byte
          example: 'eyJpZCI6MTAwMT'
      responses:
        '200':
          description: 'Success'
          headers:
            Oauth-Scope:
              description: 'Oauth scopes that are available with the supplied token'
              schema:
                type: string
                example: 'api_ro console_ro'
            Oauth-Scope-Required:
              description: 'The required permission for this particular call'
              schema:
                type: string
                example: 'get_campaign'
          content:
            application/sellside.campaign.list-v5+json:
              schema:
                type: object
                properties:
                  total:
                    description: 'The total number of campaigns for the authenticated user.'
                    type: integer
                    format: int64
                    example: 1
                    minimum: 0
                  nextPageToken:
                    description: 'Replaces the usage of the ‘offset’ parameter and allows the caller to paginate through a large list of ads more efficiently. In essence, it contains encoded information on where the returned result ended, so it can serve as additional filters in the call for the next result set, making that call more efficient.
                    When a response does not contain a nextPageToken you have reached the last page of results and there are no more to fetch.
                      '
                    type: string
                    example: 'eyJpZCI6MTAwMTgz'
                  campaigns:
                    type: array
                    items:
                      $ref: '#/components/schemas/CampaignResponseV5'
            application/sellside.campaign.list-v2+json:
              schema:
                $ref: '#/components/schemas/CampaignV2'
        '401':
          description: 'Unauthorized'
[...]
